body {
    background-color: rgb(228, 227, 227);
    margin: auto;
    font-family: sans-serif;
}

.header__titulo {
    color: rgb(197, 46, 197);
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.topbar {
    position: fixed;
    background-color: rgba(135, 112, 163, 0.644);
    top: 0;
    width: 100%;
    padding: 5px 9%;
}

.menu {
    display: inline-block;
    list-style: none;
    margin-left: 700px
}

.menu__item {
    list-style: none;
    margin-right: 20px;
    display: inline;
}

.menu a {
    text-decoration: none;
    color: rgb(102, 0, 128);
    font-family: sans-serif;
}

.conteudo {
    padding-top: 6%;
    text-align: center;
    background-color: white;
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgb(117, 103, 121)
}

.autora {
    display: inline-block;
    width: 200px;
    height: 410px;
    vertical-align: top;
    padding: 20px;
    border: 1px solid darkgray;
    text-align: center;
}

.autora__titulo {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.autora__ocupacao {
    margin: 0;
}

main {
    display: inline-block;
    width: 600px;
    height: 470px;
    padding: 0 30px;
    color: #4a4a4a;
}

.artigo__titulo {
    font-size: 40px;
    text-align: left;
    margin: 0;
}

.artigo__paragrafo {
    font-size: 24px;
    text-align: justify;
}

.artigo__imagem {
    margin-top: 20px;
}

footer {
    background-color: rgb(197, 172, 228);
    color: white;
    padding: 5px;
    text-align: center;
}