* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

section {
    margin-top: 7%;
}

hr {
    width: 10%;
}

.imagem {
    width: 400px;
    height: 250px;
    background-color: purple;
}

.conteudo, 
.grupo__botao {
    padding: 20px;
}

.conteudo__texto, 
.conteudo__imagem {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.conteudo__texto {
    text-align: justify;
    padding: 0 0 0 2%;
    
}

.grupo__botao {
    padding: 2%;

}

.botao {
    border: 2px solid purple;
    border-radius: 25px;
    padding: 1% 3%;
    text-decoration: none;
    color: purple;
}

header {

}

h1 {
    text-transform: uppercase;
}

h5 {
    color: purple;
}

